@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-search-cancel-button {
  @apply cursor-pointer;
}

.swiper-button-disabled {
  @apply !opacity-25;
}

.swiper-slide-thumb {
  @apply !w-[100px];
}

.swiper-slide-thumb-active {
  @apply !w-[120px] !opacity-100;
}

.driver-popover-arrow-side-right {
  @apply !right-full !border-base-100 !border-y-transparent !border-l-transparent;
}

.driver-popover-arrow-side-left {
  @apply !right-full !border-base-100 !border-y-transparent !border-r-transparent;
}

.driver-popover-arrow-side-top {
  @apply !right-full !border-base-100 !border-x-transparent !border-b-transparent;
}

.driver-popover-arrow-side-bottom {
  @apply !right-full !border-base-100 !border-x-transparent !border-t-transparent;
}

.driver-popover-next-btn,
.driver-popover-prev-btn {
  @apply !btn !btn-ghost !btn-sm !rounded-full !bg-primary-blue !capitalize !text-white !outline-none;
}

.driver-popover-next-btn,
.driver-popover-prev-btn {
  text-shadow: unset !important;
}

.MuiPaper-root {
  @apply !bg-[#131720] !text-white;
}

.MuiTypography-root,
.MuiPickersCalendarHeader-root button,
.MuiPickersDay-root {
  @apply !text-white;
}

.MuiPickersDay-today {
  @apply !border-white;
}

@layer components {
  * {
    @apply scrollbar scrollbar-track-transparent scrollbar-thumb-neutral-400;
  }

  img {
    @apply h-full w-full bg-cover bg-no-repeat object-cover align-middle italic;
  }

  /* .btn {
    @apply w-full text-sm p-4 md:px-8 rounded-lg uppercase font-medium tracking-wider flex justify-center items-center gap-1 transition-all md:max-w-fit hocus:bg-opacity-100 hocus:scale-[1.025] active:scale-100 md:text-base;
  } */

  .btn {
    @apply normal-case;
  }

  .prose * {
    @apply !text-gray-400;
  }

  .before-content::before {
    content: attr(data-before-content);
  }

  .after-content::after {
    content: attr(data-after-content);
  }
}
